@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --normal-text-color: #c7ccd9;
  --hero-des-text-color: #b4c1d1;
  --bg-color: #000000;
  --btn-yellow-light: #fff5e4;
  --btn-yellow-normal: #ffde91;
  --btn-orange-light: #ffae00;
  --btn-orange-medium: #ffaa34;
  --btn-orange-semi: #ed6e00;
  --btn-connect-brown: #3d1605;
  --btn-secondary-light: #dbebff;
  --btn-secondary-medium: #7a8ba1;
  --btn-secondary-border-medium: #2f323d;
  --btn-secondary-border-semi: #3c3f48;
  --btn-secondary-bg-medium: #2f3138;
  --bnt-secondary-bg-semi: #1c1f2c;
  --color-white: #ffffff;
  --color-line: rgba(255, 255, 255, 0.1);
  --bg-dark: rgba(0, 0, 0, 0.7);
  --bg-super-dark: rgba(0, 0, 0, 0.95);
  --color-input: #ffeed6;
  --btn-white-color: #1a1001;
  --card-bg-light: #17191f;
  --card-bg-normal: #1b1d24;
  --table-head-color: #6e758a;
  --transaction-bg: #15171f;
  --border-method-active: #ffaf40;
  --border-method-normal: #40475c;
  --input-error-border: #d92d20;
  --error-message-color: #f04438;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--normal-text-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button:hover,
.btn-connect-wallet:hover,
.btn-gradient-secondary:hover {
  opacity: 0.85;
}

button:disabled,
.btn-connect-wallet:disabled,
.btn-gradient-secondary:disabled {
  pointer-events: none !important;
}

.btn-connect-wallet {
  padding: 1px;
  background: linear-gradient(
    105.08deg,
    var(--btn-yellow-light) 11.08%,
    var(--btn-orange-medium) 34.14%
  );
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-connect-wallet div,
.btn-connect-wallet button {
  display: flex;
  height: 100%;
  padding: 12px 20px;
  background: linear-gradient(
    141.48deg,
    var(--btn-yellow-normal) 11.36%,
    var(--btn-orange-light) 47.34%,
    var(--btn-orange-semi) 98.48%
  );
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--btn-connect-brown);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.btn-connect-wallet button div {
  width: 100%;
}

.btn-connect-wallet button:disabled {
  pointer-events: none !important;
}

.hero-section {
  background-image: url("/images/hero_bg.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.text-primary {
  background: linear-gradient(
    47.35deg,
    var(--btn-yellow-normal) -11.43%,
    var(--btn-orange-light) 30.86%,
    var(--btn-orange-semi) 90.96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-secondary {
  background: linear-gradient(
    308.01deg,
    var(--btn-secondary-medium) -25.74%,
    var(--btn-secondary-light) 55.21%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient-secondary {
  padding: 1px;
  background: linear-gradient(
    271.06deg,
    var(--btn-secondary-border-medium) 8.52%,
    var(--btn-secondary-border-semi) 104.75%
  );
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-gradient-secondary div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    var(--btn-secondary-bg-medium) 0%,
    var(--bnt-secondary-bg-semi) 111.06%
  );
  border-radius: 7px;
  color: var(--color-white);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.animation-alliance {
  animation: animationAlliance 40s linear infinite;
  -webkit-animation: animationAlliance 40s linear infinite;
}

@keyframes animationAlliance {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
.custom-scrollbar {
  box-sizing: content-box;
  padding-right: 9px !important;
  margin-right: 0 !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 41px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #272d3d;
  border-radius: 41px;
}

.header-transparent {
  background: transparent;
}

.header-scrolled {
  background: var(--bg-dark);
  backdrop-filter: blur(18.5px);
}
