@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --normal-text-color: #c7ccd9;
  --hero-des-text-color: #b4c1d1;
  --bg-color: #000000;
  --btn-yellow-light: #fff5e4;
  --btn-yellow-normal: #ffde91;
  --btn-orange-light: #ffae00;
  --btn-orange-medium: #ffaa34;
  --btn-orange-semi: #ed6e00;
  --btn-connect-brown: #3d1605;
  --btn-secondary-light: #dbebff;
  --btn-secondary-medium: #7a8ba1;
  --btn-secondary-border-medium: #2f323d;
  --btn-secondary-border-semi: #3c3f48;
  --btn-secondary-bg-medium: #2f3138;
  --bnt-secondary-bg-semi: #1c1f2c;
  --color-white: #ffffff;
  --color-line: rgba(255, 255, 255, 0.1);
  --bg-dark: rgba(0, 0, 0, 0.7);
  --bg-super-dark: rgba(0, 0, 0, 0.95);
  --color-input: #ffeed6;
  --btn-white-color: #1a1001;
  --card-bg-light: #17191f;
  --card-bg-normal: #1b1d24;
  --table-head-color: #6e758a;
  --transaction-bg: #15171f;
  --border-method-active: #ffaf40;
  --border-method-normal: #40475c;
  --input-error-border: #d92d20;
  --error-message-color: #f04438;
  --text-primary-link-color: #ff9a0d;
  --progress-out-bg: #06070a;
  --social-border-color: #22293b;
  --cocial-bg-color: #202127;
  --connect-wallet-border-light: rgba(81, 88, 96, 0.07);
  --connect-wallet-border-normal: #31353a;
  --connect-wallet-bg-light: #151515;
  --connect-wallet-bg-normal: #1d1d1d;
  --select-hover-color: #ffa60c;
  --question-border-color: #272d3d;
  --footer-text-color: #fafafa;
  --bg-sold-light: #14161b;
  --bg-sold-normal: #15161c;
  --tab-active-color: #9ea5ba;
  --total-user-color: #ffa915;
  --pre-market-bg-light: #111423;
  --pre-market-bg-normal: #0a0c15;
  --pre-order-bg-light: #05060c;
  --leaderboard-bg-light: #19ffac;
  --leaderboard-bg-dark: #1a1f27;
  --referral-info-bg: #050507;
  --claim-reward-color: #c7ccd9;
  --reward-item-bg: #0d0d0d;
  --btn-orange-extra: #ff7700;
  --btn-yellow-semi: #ffa023;
  --btn-yellow-extra: #ffa023;
  --referral-layout-light: #1e324b;
  --success-boder-toast: #c8ff6b33;
  --success-color-toast: #78c000;
  --success-bg-light: rgba(107, 164, 14, 0.5);
  --success-bg-normal: rgba(20, 32, 1, 0.8);
  --success-bg-semi: rgba(20, 32, 1, 0.8);
  --suceess-bg-extra: #6ba40e;
  --error-border-toast: #ff7f6b33;
  --error-bg-light: rgba(78, 2, 2, 0.5);
  --error-bg-normal: rgba(21, 4, 1, 0.8);
  --error-bg-semi: rgba(21, 4, 1, 0.8);
  --error-bg-extra: #a40e0e;
  --info-border-toast: #6b8eff33;
  --info-color-toast: #7fbfff;
  --info-bg-light: rgba(9, 2, 78, 0.5);
  --info-bg-normal: rgba(2, 1, 21, 0.8);
  --info-bg-semi: rgba(2, 1, 21, 0.8);
  --info-bg-extra: #0e34a4;
  --warning-border-toast: #ffb56b33;
  --warning-color-toast: #f79009;
  --warning-bg-light: rgba(78, 47, 2, 0.5);
  --warning-bg-normal: rgba(21, 13, 1, 0.8);
  --warning-bg-semi: rgba(21, 13, 1, 0.8);
  --warning-bg-extra: #a4680e;
  --bg-input-amount: rgba(0, 0, 0, 0.35);
  --social-border-normal: rgba(14, 21, 37, 0);
  --back-home-bg-light: rgba(255, 255, 255, 0.19);
  --back-home-bg-normal: rgba(255, 255, 255, 0.01);
  --navbar-item-bg: rgba(255, 255, 255, 0.06);
  --hero-linear-bg-light: rgba(255, 252, 252, 0.04);
  --hero-linear-bg-normal: rgba(255, 255, 255, 0);
  --hero-radial-bg-light: rgba(65, 116, 186, 0.091);
  --hero-radial-bg-normal: rgba(17, 104, 221, 0.154);
  --hero-radial-bg-semi: rgba(0, 39, 93, 0.021);
  --hero-radial-bg-extra: rgba(0, 8, 18, 0.035);
  --hero-border-color: rgba(255, 255, 255, 0.15);
  --referral-layout-bg: rgba(0, 0, 1, 0);
  --pre-market-bg: rgba(0, 0, 0, 0);
  --btn-disable-light: #16171b;
  --btn-disbale-normal: #191925;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--normal-text-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button:hover,
.btn-connect-wallet:hover,
.btn-gradient-secondary:hover {
  opacity: 0.85;
}

button:disabled,
.btn-gradient-secondary:disabled {
  pointer-events: none !important;
}

.btn-connect-wallet:disabled {
  opacity: 1;
  background: linear-gradient(
    271.06deg,
    var(--btn-secondary-border-medium) 8.52%,
    var(--btn-secondary-border-semi) 104.75%
  );
}

.btn-connect-wallet {
  padding: 1px;
  background: linear-gradient(
    105.08deg,
    var(--btn-yellow-light) 11.08%,
    var(--btn-orange-medium) 34.14%
  );
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-connect-wallet div,
.btn-connect-wallet button {
  display: flex;
  height: 100%;
  padding: 12px 20px;
  background: linear-gradient(
    141.48deg,
    var(--btn-yellow-normal) 11.36%,
    var(--btn-orange-light) 47.34%,
    var(--btn-orange-semi) 98.48%
  );
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--btn-connect-brown);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.btn-connect-wallet button div {
  width: 100%;
}

.btn-connect-wallet button:disabled {
  pointer-events: none !important;
}

.btn-connect-wallet:disabled div,
.btn-connect-wallet:disabled button {
  opacity: 1;
  background: linear-gradient(
    0deg,
    var(--btn-disable-light) 9.78%,
    var(--btn-disbale-normal) 100%
  );
  color: var(--btn-secondary-border-medium);
}

.hero-section {
  background-image: url("/images/hero_bg.svg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.text-primary {
  background: linear-gradient(
    47.35deg,
    var(--btn-yellow-normal) -11.43%,
    var(--btn-orange-light) 30.86%,
    var(--btn-orange-semi) 90.96%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-secondary {
  background: linear-gradient(
    308.01deg,
    var(--btn-secondary-medium) -25.74%,
    var(--btn-secondary-light) 55.21%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient-secondary {
  padding: 1px;
  background: linear-gradient(
    271.06deg,
    var(--btn-secondary-border-medium) 8.52%,
    var(--btn-secondary-border-semi) 104.75%
  );
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-gradient-secondary div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    var(--btn-secondary-bg-medium) 0%,
    var(--bnt-secondary-bg-semi) 111.06%
  );
  border-radius: 7px;
  color: var(--color-white);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.animation-alliance {
  animation: animationAlliance 40s linear infinite;
  -webkit-animation: animationAlliance 40s linear infinite;
}

@keyframes animationAlliance {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  100% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
.custom-scrollbar {
  box-sizing: content-box;
  padding-right: 9px !important;
  margin-right: 0 !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 41px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--question-border-color);
  border-radius: 41px;
}

.header-transparent {
  background: transparent;
}

.header-scrolled {
  background: var(--bg-dark);
  backdrop-filter: blur(18.5px);
}
